* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    font-size: 10px;
}

body {
    height: 100vh;
    color: white;
    background: #EBF2F5;
}

body, input, textarea, button {
    font: 400 1.5rem/1 'Nunito', sans-serif;
}